<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<a href="/static_pages/about" style="color:yellow;"> The link </a>
<a onclick="var x = new Date; alert(x.toUTCString());alert('Zareef');"> The link </a>